@model Videojuegos.Models.Videojuego
@section Styles {
    <link rel="stylesheet" href="~/css/Detail.css" />
}

<h1>Detalle @Model.NameVG</h1>

<p><strong>Desarrollador:</strong> @Model.Developer</p>
<p><strong>Género:</strong> @Model.Genre</p>
<p><strong>Año:</strong> @Model.Release</p>
<p><strong>Descripción:</strong> @Model.Description</p>

<div class="button-container">
    <button type="button"
            onclick="window.location.href='@Url.Action("Index", "Videojuegos")'"
            class="btn btn-secondary">
        Volver
    </button>
</div>
