@model Videojuegos.Models.Videojuego
@section Styles {
    <link rel="stylesheet" href="~/css/Detail.css" />
}

<h1>Detalle @Model.NameVG</h1>

<p><strong>Desarrollador</strong></p>
<p>@Model.Developer</p>
<p><strong>Género</strong></p>
<p>@Model.Genre</p>
<p><strong>Año</strong></p> 
<p>@Model.Release</p>
<div id="description">
<p><strong>Descripción</strong></p> 
<p>@Model.Description</p>
</div>

<div class="button-container">
    <button type="button"
            onclick="window.location.href='@Url.Action("Index", "Videojuegos")'"
            class="btn btn-secondary">
        Volver
    </button>
</div>
